# Object files
*.o
*.ko
*.obj
*.elf
*.loT

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Example
example/zipkin.jar

# tool
tool
ctrl

# Tags
tags

# Extension
.deps
.libs
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache
build
deps
confdefs.h
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
conftest*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
tmp-php.ini

# Tests
run-tests*.php
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
tests/nctmplog
tests/tmplog
tests/*.mem
tests/vendor
tests/composer.lock

# Agent
agent/CMakeFiles
agent/CMakeCache.txt
agent/cmake_install.cmake
agent/tags
agent/mml
agent/client
